@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  box-sizing: border-box;

  --bg: #eef9ff;
  --white: #ffffff;
  --grey: #00162181;
  --black: #001621;
  --blue: #0096df;
  --blueh: #0087c9;
}

html {
  /* setting 1rem = 10px */
  font-size: 62.5%;
}

@media (max-width: 380px) {
  html {
    font-size: 50%;
  }
}

body,
body button,
body input {
  font-family: 'Poppins', sans-serif;
}

body,
body #root {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blueh);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--blue) var(--bg);
  }
}
